---
title: About Us
---
{% include header.html %}
<h1>About Us</h1>
<div class="centered">
	<img class="full" src="/assets/team.jpg"/>
</div>
<!-- TODO Finish the team about by adding to the line(s) below -->
<p>We are FIRST FTC Team #8367 Acme Robotics. Compromised of four students attending
	Nevada Union and Ghiodtti, we spend or time building a robot for the annual
	<a href = "https://www.youtube.com/watch?v=ABmBxCwHV94">challenge</a>
	put out by an organization called <a href = "http://www.usfirst.org/">FIRST</a>.
</p>
{% include footer.html %}
