---
title: About Us
---
{% include header.html %}
<h1>About Us</h1>
<img class="half" src="/assets/Team16.JPG"/>
<p>We are FIRST FTC Team #8367 ACME Robotics. We are compromised of three students attending
	Nevada Union High School and Ghidotti Early College High School. During the season, we build and program a robot to meet the
	<a href = "https://www.youtube.com/watch?v=b49Q3kqrSv0">challenge</a>
	put out by an organization called <a href = "http://www.usfirst.org/">FIRST</a>.
</p>

<hr>

<div class = "video">
<iframe width="420" height="315"
src="https://www.youtube.com/embed/v=FfSsNkfYd1A?autoplay=1">
</iframe>
</div>

<hr>

<h2>Members</h2>
{% for member in site.data.members %}
	<div class="bio">
		<img src="{{ member.portrait }}">
		<div>
			<h3>{{ member.name }}</h3>
			<br>
			<p>{{ member.bio }}</p>
		</div>
	</div>
	<br>
	<hr>
{% endfor %}
<h2>Mentors</h2>
{% for mentor in site.data.mentors %}
	<div class="bio">
		<img src="{{ mentor.portrait }}">
		<div>
			<h3>{{ mentor.name }}</h3>
			<p>{{ mentor.bio }}</p>
		</div>
	</div>
	<hr>
{% endfor %}
{% include footer.html %}
