---
title: Acme Robotics
---
{% include header.html %}
<div class="centered">
	<h1 class="big">Acme Robotics</h1>
	<p>FIRST FTC Robotics Team #8367 from Grass Valley, CA</p>
</div>
<hr/>
<div class="left-aside">
	<h1>Recent Posts</h1>
	{% for post in site.posts %}
		<div class="post">
			<h3 class="title">{{ post.title }}</h3>
			<p class="author">By {{ post.author }} on {{ post.date | date: "%A, %B %-d, %Y" }}</p>
			{{ post.excerpt }}
			<a href="{{ post.url }}">Read more...</a>
		</div>
	{% endfor %}
	<a href="blog.html">All Posts</a>
</div>
<div class="right-aside">
	<h2>The Team</h2>
	<img class="full" src="/assets/team2.jpg"/>
	<a href="about.html">About Us</a>
</div>
{% include footer.html %}
