---
title: About Us
---
{% include header.html %}
<h1>The Robot</h1>
<h2>Roadrunner 1</h2>
<div class="centered">
	<img class="half" src="/assets/roadrunner1.jpg"/>
</div>
<p>This is the first iteration of our robot, the Roadrunner. The Roadrunner 1 is very quick and agile, allowing it to move around the field quickly and avoid the opposing alliances' robots. Part of what makes the robot so fast is its small size and 2:1 gear ratio on the drive wheels. The robot also has a little hook in the back that allows it to latch onto rolling goals and drag them around the field.
<br/><br/>
The robot scores by dragging the rolling goals onto the ramp or into the designated parking zones. Once it has done that, it too parks itself atop a ramp and sits until the end of TeleOp. This may seem limited, but allows for scoring a maximum of 120 points in TeleOp. When you pair this with the points earned from driving off the ramp / knocking down the kickstand, that makes about 170 points.
<br/><br/>
The robot also has a foam core shell that keeps balls outside of the chassis (to avoid penalties) and provides a clean aesthetic look for the robot. </p>

<h2>Roadrunner 2</h2>
<!--<div class="centered">
	<img class="half" src="/assets/roadrunner2.jpg"/>
</div>-->
<p>Roadrunner 2 is the second iteration of our robot. We implemented four-wheel drive with one motor per wheel. We also made the base slightly larger and added a acrylic shell to protect the robot. Like its predecessor, Roadrunner 2 is fast and agile.
<br/><br/>
As with the previous iteration, the Roadrunner 2 scores by dragging the rolling goals onto the ramp or into the designated parking zones. Once it has done that, it too parks itself atop a ramp and sits until the end of TeleOp. Despite not having a lifting mechanism, the Roadrunner 2 can score up to 120 points in the TeleOp portion of the match.
<br/><br/>
This iteration of Roadrunner also has a very relaible autonomus mode. It is able to reliably hit the kickstand every time from the ramp. This allows the robot to score 50 points in autonomous, making a total of 170 points over an entire match. Go Roadrunner 2! </p>
{% include footer.html %}
