---
title: About Us
---
{% include header.html %}
<h1>The Robot</h1>
<h2>Roadrunner 1</h2>
<div class="centered">
	<img class="half" src="/assets/roadrunner1.jpg"/>
</div>
<p>This is the first iteration of our robot, the Roadrunner. The Roadrunner 1 is very quick and agile, allowing it to move around the field quickly and avoid the opposing alliances' robots. Part of what makes the robot so fast is its small size and 2:1 gear ratio on the drive wheels. The robot also has a little hook in the back that allows it to latch onto rolling goals and drag them around the field.
<br/><br/>
The robot scores by dragging the rolling goals onto the ramp or into the designated parking zones. Once it has done that, it too parks itself atop a ramp and sits until the end of teleop. This may seem limited, but allows for scoring a maximum of 120 points in teleop. When you pair this with the points earned from driving off the ramp / knocking down the kickstand, that makes about 170 points.
<br/><br/>
The robot also has a foam core shell that keeps balls outside of the chassis (to avoid penalties) and provides a clean aesthetic look for the robot. </p>

<h2>Roadrunner 2</h2>
<div class="centered">
	<img class="half" src="/assets/roadrunner2.jpg"/>
</div>
<p>Roadrunner 2 is the second version of our robot. This time we implemented four-wheel drive, and each wheel has its own motor. We also made the base slightly larger and added a acryllic shell to protect the robot. Roadrunner 2 is fast and agile, much like the previous iteration. It still has a 2:1 gear ratio, the little hook, and is still fairly small
<br/><br/>
Again, the robot scores by dragging the rolling goals onto the ramp or into the designated parking zones. Once it has done that, it too parks itself atop a ramp and sits until the end of teleop. One would think that, without a lifting mechanism, Roadrunner 2 would be unable to be competitive, however this is not the case. Raodrunner is able to score about 120 points in teleop.
<br/><br/>
This iteration of Roadrunner also has a very relaible autonomus mode. It is able to relaibly hit the kickstand every time from the ramp. This, paired with the teleop, puts us at scoring about 170 points per match. Go Roadrunner 2! </p>
{% include footer.html %}
