---
title: About Us
---
{% include header.html %}
<h1>The Robot</h1>
<h2>Roadrunner 1</h2>
<div class="centered">
	<img class="full" src="/assets/roadrunner1.jpg"/>
</div>
<p>This is the first iteration of our robot, the Roadrunner. The Roadrunner 1 is very quick and agile, allowing it to move around the field quickly and avoid the opposing alliances' robots. Part of what makes the robot so fast is its small size and 2:1 gear ratio on the drive wheels. The robot also has a little hook in the back that allows the robot to latch on to rolling goals and drag them around the field. 
<br/><br/>
The robot scores by dragging the rolling goals onto the ramp or into the designated parking zones. Once it has done that, it too parks itself atop a ramp and sits until the end of teleop. This may seem limited, but allows for scoring a maximum of 120 points in teleop. When you pair this with the points earned from driving off the ramp / knocking down the kickstand, that makes about 170 points.
<br/><br/>
The robot also has a foam core shell that keeps balls outside of the chassis (to avoid penalties) and provides a clean aesthetic look for the robot. </p>
{% include footer.html %}