---
title: Sponsors
---
{% include header.html %}
<div>
  <h1> Sponsors <h1>
  </div>
    <p><br>We really couldn't have done any of this without our sponsors. One skill FTC fosters is
      forming business relationships. None of us had ever done anything like this before and it
      was a very enlightening experiece to learn how to write formal letters and to find ways to
      contact local businesses. Really, our sponsors are the reason we are able to spend our time
      building, coding, and creating robots, something we all love to do. Thank you so much sponsors!</p>
<div class="left">
  <img class="logo" src="/assets/sponsors/telestream.png"/>
  <p>Thank you so much, Telestream!</p>
</div>
<div class="right">
  <img class="logo" src="assets/sponsors/aja.png"/>
  <p>Thanks a lot for the generous donation, AJA Video Systems!</p>
</div>

{% include footer.html %}
