<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/main.css"/>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-59410148-1', 'auto');
			ga('send', 'pageview');

		</script>
	</head>
	<body>
		<header>
			<h3><a href="/">{{ site.title }}</a></h3>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about.html">About Us</a></li>
					<li><a href="/robots.html">Our Robots</a></li>
					<li><a href="/blog.html">Blog</a></li>
					<li><a href="/sponsors.html">Sponsors</a></li>
					<li><a href="/contact.html">Contact Us</a></li>
					<li><a href="/donate.html">Donate</a></li>
				</ul>
			</nav>
		</header>
		<div id="container">
